<p>Salut {{ internaute.prenom }} {{ internaute.nom }} !</p>

<p>Le paiement  de votre reservation sur Canhebergement a été effectué avec success !</p>
<p>Pour voir le récu de paiement de votre reservation, <a href="{{ url('nanotech_canhebergement_client_facture',{id: confirmer.id}) }}">cliquez ici</a></p>

Cordialement,
L'équipe Canhebergement