<p>Salut {{ internaute.prenom }} {{ internaute.nom }} !</p>

<p>Merci de votre reservation sur Canhebergement! Le numéro de votre reservation est N° {{ reservation.id }}</p>
<p>Pour voir les détails de votre reservation, <a href="{{ url('nanotech_canhebergement_client_index') }}">cliquez ici</a></p>

Cordialement,
L'équipe Canhebergement