<footer id="foot" class="container-fluid bcl2 pb-4">
		<div class="container">
			<div class="row md-14"> 
				<div class="col-md-3  mt-sm-4">
					<div class="mb-3 pl-3 font-weight-bold jaune">
						COORDONEES
					</div>
					<div>
						<i class="material-icons jaune dpb2">place</i> Fouda , Yaounde
					</div>
					<div>
						<i class="material-icons jaune dpb2">phone</i> +237 696 75 52 53
					</div>
				</div>
				<div class="col-md-3  mt-sm-4 aprp">
					<div class="mb-3 font-weight-bold jaune">
						A PROPOS
					</div>
					<div><a href="">Qui sommes nous ?</a></div>
					<div><a href="">Rejoignez nous</a></div>
					<div><a href="">Conditions générales</a></div>
				</div>
				<div class="col-md-3  mt-sm-4">
					<div class="mb-3 pl-1 font-weight-bold jaune">
						REJOIGNEZ NOUS
					</div>
					<ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>		
				</div>
				<div class="col-md-3  mt-sm-4"><span class="jaune"> CanHebergement </span> © 2019. <br/>Tout droit reservé</div>
			</div>	
		</div>
	</footer>