<header id="header row" class="ovh">
    <div class="slider row" >
        {% for image in partenaire.baniere.galleryHasMedias %}
            <div class="col-sm-12 sl" style="background-image: url({% path image.media, 'big' %})"></div>
        {% endfor %}
    </div>

    {{ render(controller('NanotechCanhebergementBundle:Default:menu',{'id':2}))}}

   <div class="col-sm-12 couv"></div>
	<div class="col-sm-12 couv2 p-0">
		<div class="col-sm-12 conttop">
			<div class="row">
				<div class="col-md-12 logo1 text-center ">
					<span >
						<img style="width:104px" src="{% path partenaire.logo, 'big' %}">
					</span>
				</div>
				<div class="col-12 text-center mt-sm-4">
					<h1 class="h1-r">{{ partenaire.nom |upper}} </h1>
					<!-- <span class="h5-responsive">COMME SI VOUS ETIEZ A lA MAISON</span> -->
				</div>
				<div id="pta">
				</div>
			</div>
		</div>
	</div>
    {{ render(controller('NanotechCanhebergementBundle:Default:loginreservation'))}}
</header>