{% if not object.confirme %}
<a class="btn btn-sm btn-default label-primary " href="{{ admin.generateObjectUrl('confirmer', object) }}"><i class="fa fa-angle-right" aria-hidden="true"></i> {{ 'Confirmer' | trans }}</a>
{% endif %}