<header id="header row" class="ovh">
     
    {{ render(controller('NanotechCanhebergementBundle:Default:banniere'))}}
    {{ render(controller('NanotechCanhebergementBundle:Default:menu',{'id':3}))}}
    <div class="col-sm-12 couv2 p-0">
        <div class="col-sm-12 conttop">
            <div class="row">
                <div class="col-md-12 logo1 text-center ">
					<span >
						<img style="width:104px" src="{{ asset('can/images/logo1.svg') }}">
					</span>
                </div>
                <div class="col-12 text-center mt-sm-4">
                    <h1 class="h1-r">INSCRIPTION / CONNEXION PARTENAIRE</h1>
                    <!-- <span class="h5-responsive">COMME SI VOUS ETIEZ A lA MAISON</span> -->
                </div>
                <div id="pta">
                </div>
            </div>
        </div>
    </div>
</header>